input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
    font-size: 1.3em;
    font-weight: 300;
    border-radius: 5px;
    display: block;
    outline: none;
    border: 1px solid rgba(black, 0.1);
    padding: 5px 10px;
    margin-bottom: 10px;
}

label {
    font-size: 1em;
    display: block;
    margin-bottom: 10px;

}

input[type="submit"] {
    background: map-get($colors, 'blue-600');
    border: none;
    padding: 8px 15px;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease-in;

    &:hover, &:focus, &:active {
        background-color: map-get($colors, 'blue-400');
    }

}