@mixin disable-a-decoration {
    text-decoration: none;
    border: none;

    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}


p > a {
    @include disable-a-decoration();
    color: inherit;
    border-bottom: 3px solid rgba(map-get($colors, 'blue-500'), 0.5);
    transition: color 0.3s ease-in;

    &:hover, &:focus, &:active {
        color: map-get($colors, 'blue-700');
    }
}

.content {
    // padding: 15px;
}

