.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	flex-basis: 100%;
}

@media screen and (min-width: 800px) {
	.column {
		flex: 1;
	}
}

@media screen and (min-width: 800px) {
    ._20 {
        flex: 2;
    }
	._25 {
		flex: 2.5;
	}
	._33 {
		flex: 3.3;
	}
	._55 {
		flex: 5.5;
	}
	._66 {
		flex: 6.6;
	}
	._75 {
		flex: 7.5;
	}
}
