nav {
    background-color: white;
    width: 100%;
    padding: 15px 25px;
    display: flex;
    box-sizing: border-box;

    a.title {
        font-weight: 300;
        color: black;
        font-size: 1.7em;
        flex-grow: 2;

        @include disable-a-decoration;
    }

    .spacer {
        flex-grow: 7;
    }

    .links {
        flex-grow: 4;
        text-align: right;
        font-size: 1.2em;

        ul {
            list-style: none;
            float: right;
            margin: 0;
            padding-top: 6px;

            li {
                display: inline-block;
                margin-left: 10px;
                a {
                    @include disable-a-decoration;
                }
            }
        }
    }
}