{% extends "base.html" %}

{% block head_scripts %}
{% endblock %}

{% block navbar %}
    {% include "partials/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="content p-10">
        <div class="container">
            <div class="card">
                <h1 class="text-xl font-semibold">
                    My users
                </h1>
                
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}

{% endblock %}