<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./public/css/main.css">
    <title>{{ page_title }}</title>
    {% block head_scripts %}{% endblock %}
</head>
<body>
    {% block navbar %}{% endblock %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>