{% extends "base.html" %}

{% block head_scripts %}
{% endblock %}

{% block navbar %}
    {% include "partials/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="hero py-24 border-b border-gray-300">
        <div class="container">
            <div class="row">
                <div class="column _33">
                    <h1 class="text-5xl text-blue-900 leading-none mb-4 font-semibold">Lorem ipsum dolor sit amet</h1>
                    <p class="text-lg text-gray-700">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat placeat, amet ipsum illum esse tempora illo quasi eum quam temporibus aliquam tenetur necessitatibus repellendus et nesciunt ratione laudantium beatae suscipit.
                    </p>
                    <a href="/" class="btn btn-lg text-2xl">Get started now</a>
                    <a href="/" class="btn btn-lg text-2xl">Learn more</a>
                </div>
                <div class="column _66">
                    <img class="object-contain" src="/public/svg/undraw_detailed_examination_joef.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="content p-10">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="shadow-lg bg-white rounded p-4 m-2">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium at rem facere distinctio sequi doloribus dicta voluptates quo officia repellendus incidunt assumenda voluptas unde iste, sunt alias est reprehenderit. Optio.
                        </p>
                        <a href="/jobs/create" class="btn">Create a new job</a>
                    </div>
                </div>
                <div class="column">
                    <div class="shadow-lg bg-white rounded p-4 m-2">
                        <h1 class="card-title">
                            Random content
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}