{% extends "base.html" %}

{% block head_scripts %}
{% endblock %}

{% block navbar %}
    {% include "partials/navbar.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="block">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium at rem facere distinctio sequi doloribus dicta voluptates quo officia repellendus incidunt assumenda voluptas unde iste, sunt alias est reprehenderit. Optio.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="block">
                    <h1 class="block-title">
                        Random content
                    </h1>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}